.reveal .pesentation-details {
	position: absolute;
	left: 10px;
	bottom: 0;
	z-index: 1;
	font: .5em sans-serif;
	text-shadow: 1px 1px 1px $white, -1px -1px 1px $white, 0 1px 1px $white, 0 -1px 0 $white;
	color: #888;
	padding: 20px 0 20px 60px;
	opacity: 0.7;
}

.reveal .pesentation-details:hover {
	opacity: 1;
}

.reveal .pesentation-details a {
	color: #888;
}
