/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #111;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.post-link {
  display: block;
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

.site-top {
  min-height: 40px;
  background: #343e47;
  color: #999;
  border-bottom: 1px solid #a70e0e; }
  .site-top ul {
    position: relative;
    margin: 0;
    padding: 0; }
    .site-top ul li {
      display: inline-block; }
      .site-top ul li a {
        display: block;
        color: #999;
        padding: 10px 10px; }
        .site-top ul li a:first-child {
          padding-left: 0; }
  .site-top .contact-options li a {
    padding: 10px 5px; }

.site-main .navbar {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background: #f3f3f3;
  border: none;
  min-height: 140px;
  padding: 40px 0; }
  .site-main .navbar .navbar-brand .title {
    margin: 0; }
  .site-main .navbar .header-links li a {
    font-size: 16px;
    color: #111; }

.slides-wrapper {
  margin: 30px 0 0;
  padding: 0px;
  display: block; }
  .slides-wrapper .slide {
    width: 100%;
    min-height: 320px;
    border: 1px solid #f3f3f3;
    padding: 0 15px 10px;
    box-shadow: 5px 5px 15px 0 #f7f7f7;
    margin-bottom: 15px; }
    .slides-wrapper .slide .image-wrapper {
      margin: 0 -15px 0;
      display: block;
      clear: both;
      position: relative;
      border: none; }
      .slides-wrapper .slide .image-wrapper:after {
        content: '';
        display: block;
        pointer-events: none;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        z-index: 1;
        position: absolute;
        background: -webkit-linear-gradient(transparent 50%, rgba(0, 0, 0, 0.7) 100%);
        background: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.7) 100%); }
      .slides-wrapper .slide .image-wrapper .post-meta.date {
        position: absolute;
        bottom: 15px;
        right: 15px;
        background: #961818;
        padding: 2px 6px;
        font-size: 11px;
        -webkit-border-top-right-radius: 6px;
        -webkit-border-bottom-right-radius: 6px;
        -webkit-border-bottom-left-radius: 6px;
        -webkit-border-top-left-radius: 6px;
        -moz-border-radius-topright: 6px;
        -moz-border-radius-bottomright: 6px;
        -moz-border-radius-bottomleft: 6px;
        -moz-border-radius-topleft: 6px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        -webkit-text-shadow: 1px 0px 0 #ccc;
        -moz-text-shadow: 1px 0px 0 #ccc;
        text-shadow: 1px 0px 0 #ccc;
        color: #fff;
        z-index: 3;
        font-weight: lighter; }
        .slides-wrapper .slide .image-wrapper .post-meta.date i {
          position: relative;
          margin-right: 2px;
          font-size: 10px;
          vertical-align: middle; }
    .slides-wrapper .slide .post-link {
      color: #555;
      text-decoration: none; }
    .slides-wrapper .slide .post-title-a {
      height: 54px;
      overflow: hidden; }

/** Profile section on Index page **/
.profile-author {
  display: block;
  padding: 5px 5px 5px 48px;
  position: relative;
  min-height: 48px; }
  .profile-author .profile-author-a {
    position: absolute;
    width: 42px;
    height: 42px;
    left: 0; }
    .profile-author .profile-author-a img {
      -webkit-border-top-right-radius: 50%;
      -webkit-border-bottom-right-radius: 50%;
      -webkit-border-bottom-left-radius: 50%;
      -webkit-border-top-left-radius: 50%;
      -moz-border-radius-topright: 50%;
      -moz-border-radius-bottomright: 50%;
      -moz-border-radius-bottomleft: 50%;
      -moz-border-radius-topleft: 50%;
      border-top-right-radius: 50%;
      border-bottom-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-top-left-radius: 50%;
      width: 100%; }
  .profile-author .profile-name {
    display: block;
    margin: 5px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 100%;
    padding: 6px 0;
    vertical-align: middle;
    text-decoration: none;
    color: #999; }

.home-title {
  display: block;
  margin-bottom: 10px; }
  .home-title .page-heading {
    font-size: 42px;
    font-weight: bold; }
  .home-title .slides-icon {
    font-size: 40px;
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    -webkit-border-top-right-radius: 50%;
    -webkit-border-bottom-right-radius: 50%;
    -webkit-border-bottom-left-radius: 50%;
    -webkit-border-top-left-radius: 50%;
    -moz-border-radius-topright: 50%;
    -moz-border-radius-bottomright: 50%;
    -moz-border-radius-bottomleft: 50%;
    -moz-border-radius-topleft: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    border: 1px solid #eee;
    text-align: center;
    padding-top: 12px;
    line-height: normal; }

/** Footer section **/
.footer-section {
  background: #343e47;
  color: #eee;
  display: block; }

.social-media-list li a {
  color: #777;
  text-decoration: none; }

.contact-list li a {
  color: #777; }

/** Brand logo section **/
.site-main .redpanther-brand {
  height: auto; }
.site-main .brand-logo {
  display: block;
  padding: 0 0 0 40px;
  position: relative; }
  .site-main .brand-logo .logo-logo {
    width: 30px;
    float: left;
    position: absolute;
    top: 0;
    left: 0; }
    .site-main .brand-logo .logo-logo img {
      width: 100%; }
  .site-main .brand-logo .logo-title {
    display: block;
    padding: 0; }
    .site-main .brand-logo .logo-title .title {
      color: #d52d2d;
      font-weight: bold;
      font-size: 42px;
      line-height: 32px;
      margin-bottom: 3px !important; }
    .site-main .brand-logo .logo-title .sub-title {
      font-size: 14px;
      clear: both;
      margin: 0;
      font-style: italic;
      font-weight: lighter; }

.pagination-section {
  text-align: right; }
  .pagination-section .pagination li > a {
    color: #a70e0e; }
    .pagination-section .pagination li > a:hover, .pagination-section .pagination li > a:active, .pagination-section .pagination li > a:focus {
      color: #a70e0e; }
  .pagination-section .pagination li.active > a {
    background: #a70e0e;
    border-color: #a70e0e;
    color: #fff; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
