---
layout: default
---

<div class="home">
<div class="home-title text-center">
  <h1 class="page-heading text-center">
    Latest Slides
  </h1>
  <div class="slides-icon text-center">
    <span class="fa fa-slideshare text-center "></span>
  </div>

</div>

<div class="post-section">
  <ul class="post-list slides-wrapper row">
    {% for post in paginator.posts %}
      <li class="col-xs-12 col-sm-6 col-md-4">
      <div class="slide">
        <a class="image-wrapper" href="{{ post.url | prepend: site.baseurl }}">
          <span class="post-meta date">
            <i class="fa fa-calendar"></i>
            {{ post.date | date: "%b %-d, %Y" }}

          </span>
          <img src="{{post.post_thumbnail}}" class="img-responsive">
        </a>

        <h2 class="post-title-a">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="profile-author">
          <div class="profile-author-a">

            <img src="{% if post.profile_image %}{{post.profile_image}}{% else %} /slides/profiles/profile_default.jpg {% endif %}" alt="{{post.author}}">
          </div>
          <a href="" class="profile-name">
            {{post.author}}
          </a>
        </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
  <div class="pagination-section">
    {% if paginator.total_pages > 1 %}
      <ul class="pagination">
        {% if paginator.previous_page %}
          <li>
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
          </li>
        {% else %}
          <li class="disabled">
            <span>&laquo; Prev</span>
          </li>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <li class="active">
              <a href="#">{{ page }} <span class="sr-only">(current)</span></a>
            </li>
          {% elsif page == 1 %}
            <li>
              <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
            </li>
          {% else %}
            <li>
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
            </li>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <li>
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
          </li>
        {% else %}
          <li class="disabled">
            <span>Next &raquo;</span>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
