
<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@redpanthershq">
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:creator" content="@redpanthershq">
<!-- Twitter Summary card images must be at least 120x120px -->
<meta name="twitter:image" content="https://pbs.twimg.com/profile_banners/749964972/1438853258/1500x500">

<!-- Open Graph data -->
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://www.redpanthers.github.com/slides" />
<meta property="og:image" content="https://pbs.twimg.com/profile_banners/749964972/1438853258/1500x500" />
<meta property="og:description" content="{{ site.description }}" />
<meta property="og:site_name" content="Redpanthers Slides" />
<meta property="fb:admins" content="492016520816519" />
<meta property="fb:app_id" content="458945877638235" />
