<header class="site-header">
  <div class="site-top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <ul class="company-links">
            <li>
              <a href="http://redpanthers.co">Company</a>
            </li>
            <li>
              <a href="http://blog.redpanthers.co">Blog</a>
            </li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="contact-section clearfix">
          <ul class="contact-options pull-right">
            <li>
              <a href="https://www.facebook.com/redpanthers.co" target="_blank">
                <span class="fa fa-facebook"></span>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/redpanthershq" target="_blank">
                <span class="fa fa-twitter"></span>
              </a>
            </li>
            <li>
              <a href="" target="_blank">
                <span class="fa fa-instagram"></span>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/red-panthers" target="_blank">
                <span class="fa fa-linkedin"></span>
              </a>
            </li>
            <li>
              <a href="">
                <span class="fa fa-skype"></span>
                redpanther
              </a>
            </li>

            <li class="divider"></li>
            <li>
              <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <span class="fa fa-rss"></span>
              </a>
            </li>
            <!-- <li>
              <a href="">
                <span class="fa fa-search"></span>
                &nbsp;Explore
              </a>
            </li> -->
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="site-main">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="redpanther-brand navbar-brand" href="#">
          <div class="brand-logo">
            <div class="logo-logo">
              <img src="{{site.baseurl}}/site_image/logo-logo.png">
            </div>
            <div class="logo-title">
              <h2 class="title">RedPanthers</h2>
              <h5 class="clearfix sub-title">
                  We love learning...We love sharing
              </h5>
              </div>
            </div>
          </a>
        </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="header-links nav navbar-nav navbar-right">
                <li><a href="#">Slides</a></li>
                <li><a href="https://github.com/redpanthers" target="_blank">About Us</a></li>
                <li><a href="http://redpanthers.co" target="_blank">Contact Us</a></li>
                <li><a href="https://github.com/orgs/redpanthers/people" target="_blank">Team</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
</nav>
    </div>

  </div>
</header>
