<!DOCTYPE html>
<html>

  {% include head.html %}

  <!-- Include Social media meta content -->
  {% include default_meta.html %}
  <!-- eof social media meta content -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  <body>

    {% include header.html %}
    <div class="main-page">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
             <div class="page-content">
              {{ content }}
              </div> 
            </div>
          </div>
        </div>
    </div>   
    
    <div class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            {% include footer.html %}        
          </div>  
        </div>
      </div>
    </div>
    

  </body>
</html>
